<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <!-- Partial for some rails boilerplates -->
    <%= render 'layouts/rails_default'%>
    
    <!-- Partial for the shim for IE -->
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <!-- Partial for the header -->
    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer'%>
    </div>

    
  </body>
</html>
